name: Release and Publish

on:
  release:
    types: [published]

jobs:
  bump-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Build Tools
        run: |
          python -m pip install --upgrade pip
          pip install bump2version build

      - name: Bump Version
        run: |
          TAG_VERSION=${{ github.event.release.tag_name }}
          CLEAN_VERSION=$(echo $TAG_VERSION | sed 's/^v//')
          
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          bump2version --new-version $CLEAN_VERSION patch --allow-dirty
          
          git fetch origin master
          git pull --rebase origin master
          
          git push origin HEAD:master

      - name: Build Package
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
